body{
    font-family: 'Open Sans', sans-serif;
    

}
.text-primary{
    color: #E55473;
}
.btn-primary{
    border-radius: 5px;
    background: #E55473;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}
.nav-title{
    font-size: 35px;
    font-weight:800px ;
    color: #181818;
    padding-left: 30px;
}

    
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: gainsboro;
    border-radius: 10px;
    height: 80px;

}
nav  >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style:  none;
    margin-right: 40px;
    font-weight: 500;
    font-size: 20px;
    

}
nav li a:hover{
    cursor: pointer;
    background-color: #E55473;
    color: white;
    padding: auto;
    border-radius: 2px;
}
nav a{
    text-decoration: none;
    color: black;
}
.header{
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    padding: 0px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-picture{
    width: 400px;
    height: 400px;
    padding-right: 180px;
  
    
}
.banner-content{
    max-width: 500px; 
 }
 .banner-greeting{
   color: #474747;
   margin-bottom: 0;
 }
 .banner-content1{
    max-width: 500px;
    text-align: center; 
 }
 .banner-greeting{
   color: black;
   margin-bottom: 0;
 }

.about{
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 100px 0;
    margin-left: 350px;
    text-align: center;
    height:200px ;
    width:594px ;
    text-align: center;
     
}
main{
    max-width: 1140;
    margin: 0 auto;
}
.img-section{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
   }
.img-section img{
     width: 250px;
    height: 300px;
    margin-bottom: 0px;
  
   }
.img-1{
    background-color: #F2DEE7;
    padding-left: 30px;
    width: 300px;
    height: 400px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    margin-bottom: 20px;
   
}
.img-2{
    background-color: #D9EFF1;
    padding-left: 30px;
    width: 300px;
    height: 400px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    margin-bottom: 20px;
   
}
.img-3{
    background-color: #E3EBDB;
    padding-left: 30px;
    width: 300px;
    height: 400px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    margin-bottom: 10px;}
   
.list-item{
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
}
.list-item li{
    list-style: none;
    text-decoration: underline;
}
.img-container{
    width: 350px;
    height:380px ;
    display: flex;
    justify-content: space-between;
    
}
.img-container img{
    padding: 15px;
    justify-content: space-between;
}
.last-section{
    background-image: url('./Flower-Asset/Rectangle\ 9.png');
    height: 400px;
    margin-bottom: 30px;

}
.last-section-greeting{
    text-align: center;
}
.search-option{
    text-align: center;
    justify-content: space-between;


}
footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
  }
